<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFAccountID</key>
	<string>YOUR_CLOUDFLARE_ACCOUNT_ID</string>
	<key>CFAuthToken</key>
	<string>YOUR_CLOUDFLARE_AUTH_TOKEN</string>
</dict>
</plist>
